body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url("../img/f98c24e695a9c6dbc20509543eb0e55c35d01368e5b8cada182d995272a2640d.webp")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.login-container {
  max-width: 4000px;
  margin: 50px auto;
  background-color: #fff;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 500px;
  width: 500px;
  margin: 50px auto;
  background: url("http://lorempixel.com/output/people-q-c-640-480-8.jpg");
  background-size: cover;
  -moz-box-shadow: inset 0px 850px 500px -500px #fff;
  -webkit-box-shadow: inset 0px 850px 500px -500px #fff;
  -o-box-shadow: inset 0px 850px 500px -500px #fff;
  box-shadow: inset black;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #555;
}

button {
  background-color: #3e2a62;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #261c39;
}
